@font-face {
    font-family: 'watermelon_script_demoregular';
    src: url('./media/webfontkit-20190213-212018/watermelon_script_demo-webfont.woff2') format('woff2'),
         url('./media/webfontkit-20190213-212018/watermelon_script_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes slideInFromLeft{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

html, body{
    margin: 0;
    padding: 0;
    height:100%;
    /* display:flex; */
}

.header{
    text-align: center;
}

.header p{
    animation: 1s ease-out 0s 1 slideInFromLeft;
    font-family: 'watermelon_script_demoregular';
    font-size: 50px;
    display:inline-block;
    position: relative;
    margin: 25px;
    text-shadow: 5px 5px 5px #888888;
}

.header p img{
    height: 75px;
    width: 110px;
}

.map-results{
    position:relative;
    width:100%;
    display: flex;
}

#map{
    height:600px;
    width:100%;
    background-color:grey;
    float:left;
    margin:10px;

}

#results{
    border: 1px solid black;
    height: 500px;
    float:right;
    width:30%;
    margin-right:100px;
    margin-top:50px;
    padding:0;
    display:flex;
    left:64%;
    position:absolute;
    background-color: lightgrey;
    z-index:10;
}

#map-input{
    width:50%;
    height:40px;
    position:absolute;
    z-index:10;
    top:4%;
    left:20%;
    /* display:flex; */
}

#map-input input{
    height:40px;
    width:65%;
    border: 1px solid black;
    text-align:center;
}

button{
    width:10%;
    height:40px;
    border: 1px solid black;
}

#find-btn{
    position:absolute;
    left: 3%;
    bottom: 10%;
    width:40px;
    overflow:hidden;
    background-image: url('./media/geolocalize.png');
    background-size:100%;
}

#truck-list{
    background-color:white;
    overflow:scroll;
    list-style:none;
    position:inside;
    padding: 0;
    /* display:inline; */
}

.truck-info{
    border: 0.5px solid black;
    padding-left: 5px;
}