/* default style */

html, body{
    margin: 0;
    padding: 0;
    height:100%;
    background-color:#AFD6F7;
    /* background-color:#e6f3ff; */
}



/* styles for the header */

.header{
    text-align: center;
    box-shadow:0 0 10px 2px black;
}
/* added different font for header*/

@font-face {
    font-family: 'watermelon_script_demoregular';
    src: url('./media/webfontkit-20190213-212018/watermelon_script_demo-webfont.woff2') format('woff2'),
         url('./media/webfontkit-20190213-212018/watermelon_script_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* made header media responsive */

@media only screen and (max-device-width: 375px) {
    .header p{
        font-size: 1.5em !important;
    }

}

@media only screen and (min-device-width: 380px) and (max-device-width: 820px) {
    .header p{
        font-size: 1.75em !important;
    }

}

/* animation for header */


@keyframes slideInFromLeft{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.header p{
    animation: 1s ease-out 0s 1 slideInFromLeft;
    font-family: 'watermelon_script_demoregular';
    font-size: 3em;
    margin: 1vh;
    text-shadow: 5px 5px 5px #888888;
}

.header p img{
    max-width: 12vh;
}

/* styles for main container */

.map-results{
    position:relative;
    width:100%;
    display: flex;
}

/* styles for map itself */

#map{
    height:90vh;
    width:100%;
    background-color:grey;
}

/* styles to make input & button media responsive */

@media only screen and (max-device-height: 414px) {

    #map-input input{
        height: 8vh !important;
        width: 40vh !important;
    }

    #find-btn{
        height: 9vh !important;
        width: 9vh !important;
    }
}

/* styles for search bar for address */

#map-input{
    /* border: 1px solid black; */
    z-index: 10;
    position: absolute;
    display:flex;
    bottom: 10%;
    left: 10%;
    background-color:white;
    flex-wrap:wrap;
}

#map-input input{
    height: 4vh;
    width: 25vh;
    text-align: center;
    padding: 0 !important;
    border: 0 !important;
    margin-top:0.5vh;
}

/* styles for button to geolocalize user */

#find-btn{
    width:5vh;
    height:5vh;
    overflow:hidden;
    background-image: url('./media/geolocalize.png');
    background-size:100%;
}

/* media responsive design for results */

@media only screen and (max-device-width: 750px) {
    #results{
        display:none !important;
    }
}

/* styles for results container */

#results{
    height: 500px;
    float:right;
    width:30%;
    margin-right:100px;
    margin-top:50px;
    left:64%;
    position:absolute;
    background-color: lightgrey;
    z-index:10;
    overflow:scroll;
    box-shadow:0 0 20px 2px black;
}

/* styles to search food trucks */

#search-food input{
    width:30%;
    margin-top:20px;
    left:60%;
    position:absolute;
    z-index:10;
    height:30px;
    border: 1px solid black;
    text-align:center;
}


/* styles for list of trucks */

#truck-list{
    background-color:ivory;
    list-style:none;
    padding: 0;
    position:absolute;
    margin:0;
}

.truck-item{
    border: 0.5px solid black;
    padding: 10px;
}

.truck-item:hover{
    background-color:gainsboro;
}

/* styles for more truck info div */

#more-info{
    margin:50px;
    padding:20px;
    text-align:center;
    box-shadow: 1.5px 1.5px 1.5px 1.5px black;
    background-color:ivory
}
